*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body,
.App {
  min-height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.15rem;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}
/* App.css */

.Toastify__close-button {
  /* Thay đổi vị trí */
  position: absolute;
  top: 10px;
  right: 10px;

  /* Thay đổi kích thước */
  width: 25px;
  height: 25px;

  
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent; /* Loại bỏ nền mặc định */
  border: none; /* Loại bỏ đường viền mặc định */
  opacity: 0.7; /* Độ trong suốt */
}

.Toastify__close-button:hover {
  opacity: 1; /* Hiển thị rõ hơn khi hover */
}
